:root{
  --imgSize:6rem;

}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.form__parent{
  width: 80%;
}
@media (min-width:768px) {
  .form__parent{
    width: 500px;
  }
}

.form__group{
  display: flex;
  flex-direction: column;
}

.form__group input{
  padding:.7rem;
  border: none;
  border-bottom: 1px solid gray;
  outline: 0;
  transition: .4s ease;
}


.form__group input:focus{
  border-bottom: 1px solid blue;
  outline: 0;  
}



.form__submit{
  display: flex;
  justify-content: center;
}

.navbar{
  padding:.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation{
  width:250px;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh);
  /* background-color: red; */
  transform:translateX(-102%);
  transition:.4s ease;
  background-color: rgb(239, 239, 239);
}

.close{
  text-align: end;
  padding:1rem;
}

.navigation.open{
  transform: translateX(0);
}

.content{
  padding:1.3rem;
}

@media (min-width:768px) {
  .dashboard{
    display: flex;
    justify-content: center;
  }

  .dashboard__container{
    width:700px;
  }
}


.search{
  display: block;
  width: 100%;
  padding: .6rem;
  border:none;
  border-bottom: 1px solid gray;
  outline: 0;
  /* max-height: 0px; */
  
}

.location{
  display: flex;
  gap:1rem;
}

.weather{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather__temperature_info{
  display: flex;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 1.5px;
}
.weather__temperature_info img{
  width:var(--imgSize);
  height: var(--imgSize);
}

.weather__temperature_general{
  font-size:1.2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.weather__temperature_general p{  
  margin-bottom: .3rem;
}


.weather__total_content{
  display: flex;
  justify-content: space-around;
}
.weather__total{
  display: flex;
  align-content: center;
  gap:.3rem;
}


.pronostico{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pronostico__info{
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.weatherForecast{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items:center;
  gap: 10px;
  border-bottom:1px solid rgba(128, 128, 128, 0.409);
  /* margin-bottom: 1rem; */
  padding:.5rem 0;
  /* border-radius: .4rem; */
}

.weatherForecast__info{
  grid-column: 1/4;
  display: flex;
  align-items: center;
  gap: 10px;
}
.weatherForecast__info_wind{
  display: flex;
  gap:10px
}

.weatherForecast__info_temp{
  display: flex;
}
.btn{
  display: block;
  padding: .6rem 3rem;
  border: none;
  border-radius: .5rem;
  transition: .2s ease-in-out;
}

.btn:hover{
  cursor:pointer;
}

.btn__active{
  background-color: rgb(92, 9, 225);
  color:white;
}

.btn__active:hover{
  background-color: rgb(120, 48, 236);
}


footer{
  text-align: center;
  padding:1rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}

.center{
  text-align: center;
}

.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.error{
  color:#e42520;
  background-color: #ffd6d0;
  padding:.3rem .6rem;
  margin:1rem 0;
  text-align:center;
}
.fw-700{
  font-weight: 700;
}